apiVersion: v1
baseDomain: {{ domain }}
metadata:
  name: {{ cluster_id }}

compute:
- hyperthreading: Enabled
  name: worker
  replicas: 3

controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3

networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  machineNetwork:
  - cidr: {{ lab_cidr }}
  networkType: OVNKubernetes
  serviceNetwork: 
  - 172.30.0.0/16

platform:
  baremetal:
    apiVips: 
      - {{ clusters[cluster_id].apiVip }}
    ingressVips: 
      - {{ clusters[cluster_id].ingressVip }}

pullSecret: '{{ pull_secret | default('{"auths":{"fake":{"auth": ""}}}', true) }}'
sshKey: '{{ ssh_pub_key }}'   
